.cabecalho{
    background-color: black;
    color: white;
    display: flex;
    justify-content: space-around;
}

.cabecalho-imagem{
    width: 20%;
}

.cabecalho-lista-item{
    display: inline-block;
    padding: 24px;
    font-size: 24px;
}

*{
    margin: 0;
    padding: 0;
}

.simbolo-ritual{
    width: 25%;
}

.ordemparanormal{
    background-image: linear-gradient(#000000, #8d8d8d);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 24px 0;
}

.ordem-conteudo{
    width: 35%;
}

.titulo-ordem{
    padding: 24px 0;
}

.personagens-div{
    text-align: center;
}

.personagens-titulo{
    text-align: center;
    padding: 50px 0;
    background-image: linear-gradient(#8d8d8d, black);
    color: white;
    font-size: 40px;
}

.personagens-todos{
    display: grid;
    grid-template-columns: 20% 20% 20% 20%;
    color: white;
    background-color: black;
}

.green{
    color: rgb(255, 255, 255);
    text-align: center;
    background-color: black;
    padding: 2%;
    font-size: 30px;
}

.red{
    color: rgb(255, 255, 255);
    text-align: center;
    background-color: rgb(133, 0, 0);
    padding: 2%;
    font-size: 30px;
}

.personagens-mortos-titulo{
    text-align: center;
    padding: 50px 0;
    background-image: linear-gradient(#000000, rgb(133, 0, 0));
    color: white;
    font-size: 40px;
}
